$bg: black;
$pri: #ffffff;
$sec: orange;
$ter: #666;
$font: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
  Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

@mixin blog-style {
  padding: 45px;
  margin: auto;
  max-width: 980px;
  color: $pri;
  font-size: large;
  line-height: 1.5;
  > * {
    margin-block: 1.2em;
  }
  strong {
    color: $sec;
  }
  a {
    color: $sec;
    text-decoration: underline;
  }
  iframe {
    display: block;
    margin: auto;
  }
  blockquote {
    border-left: 6px solid $sec;
    padding: 0 24px;
  }
  code {
    background-color: #222;
  }
  > p {
    > div {
      text-align: center;
      p {
        margin-top: 0px;
        color: $ter;
      }
    }
    > code {
      padding: 6px;
      border-radius: 6px;
    }
  }
  > pre {
    border-radius: 6px;
    > p {
      background-color: #444;
      margin-bottom: 0px;
      padding: 6px 12px 6px 12px;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }
    > code {
      padding: 12px;
      margin-top: 0px;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
    }
  }
  hr {
    border-color: $ter;
  }
}

@mixin img-style {
  width: 100%;
  margin: auto;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.blog {
  min-height: 100vh;
  background: $bg;
  > div {
    @include blog-style;
    > div:first-of-type {
      > h1:first-of-type {
        color: $sec;
        font-size: 3rem;
        margin-bottom: 1rem;
      }
      > p:nth-of-type(2) {
        text-align: right;
      }
      div {
        margin: auto;
        max-width: 640px;
      }
    }
    > h1 {
      margin-bottom: 0;
    }
    > div:nth-of-type(2) {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-auto-rows: 1fr;
      @media screen and (max-width: 768px) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }
      > div {
        margin: 24px;
        transition: 0.3s ease-in-out;
        &:hover {
          margin: 8px;
        }
        > a {
          text-decoration: none;
          > div {
            height: 100%;
            border-radius: 8px;
            color: $pri;
            border: 1px solid $ter;
            margin-bottom: 0px;
            transition: 0.3s ease-in-out;
            &:hover {
              margin-bottom: 16px;
            }
            img {
              @include img-style;
              border-top-left-radius: 8px;
              border-top-right-radius: 8px;
            }
            > div:last-of-type {
              padding: 16px;
              > h3 {
                color: $sec;
                text-decoration: underline;
                display: block;
                margin: 0;
              }
              > div {
                > p:first-of-type {
                  width: 90%;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                }
                > p:last-of-type {
                  color: $ter;
                  right: 16px;
                  font-size: small;
                  text-align: right;
                }
              }
            }
          }
        }
      }
    }
    > div:last-of-type {
      display: block;
      > p:last-of-type {
        text-align: center;
      }
    }
  }
}
