$bg: white;
$pri: black;
$sec: darkorange;
$ter: #777;
$bg-dark: black;
$pri-dark: white;
$sec-dark: orange;
$ter-dark: #666;
$font: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
  Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
$mode: dark;

@mixin blog {
  img {
    max-width: 640px;
    width: 100%;
  }
  > p {
    margin-block: 1.2em;
    > div {
      text-align: center;
      p {
        margin-top: 0px;
        color: $ter;
      }
    }
    > code {
      padding: 6px;
      border-radius: 6px;
    }
  }
  > pre {
    border-radius: 6px;
    > p {
      color: white;
      background-color: #444;
      margin-bottom: 0px;
      padding: 6px 12px 6px 12px;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }
    > code {
      padding: 12px;
      margin-top: 0px;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
    }
  }
}

.youtube {
  max-width: 640px;
  margin: auto;
  > div {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.imgContainer {
  max-width: 640px;
  margin: auto;
}

.firstPage {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    border-bottom: 1px solid $ter;
    padding-bottom: 6px;
  }
  h1:first-of-type {
    color: $sec;
    font-size: 3rem;
    margin-block-start: 0;
    margin-bottom: 1rem;
    @media (prefers-color-scheme: $mode) {
      color: $sec-dark;
    }
  }
}

.blogheader {
  img {
    max-width: 640px;
    width: 100%;
  }
  h1 {
    color: $sec;
    font-size: 3rem;
    margin-bottom: 1rem;
    @media (prefers-color-scheme: $mode) {
      color: $sec-dark;
    }
  }
  > p:nth-of-type(2) {
    text-align: right;
  }
  div {
    margin: auto;
    max-width: 640px;
  }
}

.blog {
  @include blog;
}

.blogContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-auto-rows: 1fr;
  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  > div {
    margin: 24px;
    transition: 0.3s ease-in-out;
    &:hover {
      margin: 8px;
    }
    > a {
      text-decoration: none !important;
      > div {
        height: 100%;
        border-radius: 8px;
        color: $pri;
        border: 1px solid $ter;
        margin-bottom: 0px;
        transition: 0.3s ease-in-out;
        &:hover {
          margin-bottom: 16px;
        }
        img {
          width: 100%;
          margin: auto;
          aspect-ratio: 16/9;
          object-fit: cover;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
        }
        > div:last-of-type {
          padding: 16px;
          > h3 {
            color: $sec;
            text-decoration: underline;
            display: block;
            margin: 0;
          }
          > div {
            > p:first-of-type {
              width: 90%;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
            > p:last-of-type {
              color: $ter;
              right: 16px;
              font-size: small;
              text-align: right;
            }
          }
        }
      }
    }
  }

  @media (prefers-color-scheme: $mode) {
    > div {
      > a {
        > div {
          color: $pri-dark;
          border-color: $ter-dark;
          > div:last-of-type {
            > h3 {
              color: $sec-dark;
            }
            > div {
              > p:last-of-type {
                color: $ter-dark;
              }
            }
          }
        }
      }
    }
  }
}
